*, *::before, *::after {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	outline: none;

	&::-moz-focus-inner {
		border: none;
	}
}

// $body-color: #cedfef;
$thumb-size: 80px;
$item-margin: 20px;
$streams-padding: 20px;

// div, p, span, main {
// 	outline: 1px dotted black;
// }

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	// background-color: $body-color;
	display: flex;
	flex-direction: column;
}

main {
	min-height: inherit;
	min-width: 200px;
	width: 90%;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
}

.upper-panel {
	max-width: 600px;
	width: 70%;
}

.input-field .postfix {
	position: absolute;
	width: 3rem;
	left: 100%;
	font-size: 2rem;
	transition: color .2s;
	width: max-content;

	> button {
		margin: 0 5px;
		&:active {
			transform: scale(0.95);
		}
	}
}

input[type="text"] + label {
	left: 0 !important;
}

.streams {
	width: 100%;
	padding: $streams-padding;
	margin-top: 0;
	background-color: #d6d6fb;
	border-top: none;

	// unset materialize values
	&.show-all > .stream-item {
		display: flex !important;
	}
	&.show-online > .online {
		display: flex !important;
	}
	&.show-offline > .offline {
		display: flex !important;
	}
	&.show-available {
		> .online, > .offline {
			display: flex !important;
		}
	}
}

.streams > .stream-item {
	display: none !important;
	align-items: center;
	flex-wrap: wrap;
	// padding: 40px 20px;
	background-color: #b0bec5;
	color: white !important;
	position: relative;

	&:hover {
		transform: translateX(-5px);
		background-color: #b0bec5 !important;
	}

	// unset materialize values
	&.offline, &.offline:hover {
		background-color: #7a848a !important;
	}

	&.unavailable, &.unavailable:hover {
		background-color: #414c52 !important;
	}

	> * {
		// margin: $item-margin;
		// padding: 40px 0;

	}

	> :last-child {
		// margin-left: auto;
	}

	.thumbnail {
		// min-width: $thumb-size;
		height: $thumb-size;
		padding: 0;

		> img, > .blank {
			width: $thumb-size;
			height: $thumb-size;
			border-radius: 50%;
			border: 2px solid white;
		}

		> .blank {
			display: inline-block;
			background-color: wheat;
			position: relative;

			&::after {
				content: "?";
				font-size: 4em;
				line-height: $thumb-size;
				color: #84919c;
			}
		}
	}

	.channel-name {
		// &:first-child {
		// 	margin-left: $thumb-size + $item-margin * 3;
		// }
	}

	.playing {
		font-size: 2em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		> .status {
			vertical-align: bottom;
		}
	}

	> .corner {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		color: #739aad;

		&:hover {
			transform: scale(1.2);
			color: white;
		}
	}
}

.controls {
	width: 100%;
	// margin-bottom: -1px;
	border-bottom: 2px solid white;
	position: relative;

	> button {
		width: 25%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: -2px;
		border: 2px solid white;
		border-width: 0 0.5px 2px;

		&:first-of-type {
			border-left: none;
		}

		&:last-of-type {
			border-right: none;
		}

		&.on {
			box-shadow: none;
			background-color: #d6d6fb;
			border-bottom-color: transparent;
		}

		// &.off {
		// 	background-color: #d6d6fb;
		// 	box-shadow: none;
		// }

		&:not(.on):hover {
			background-color: #bfbfca;
			box-shadow: none;
		}
	}

	> .settings-btn {
		top: 0;
		left: 100%;
		// unset materialize values
		right: unset;
		bottom: unset;
		position: absolute;
		padding: 0;
		margin-left: 5px;

		> ul {
			bottom: unset;
			margin-top: 10px;
		}
	}
}

.flare {
	animation: 1s flare;
}

@keyframes flare {
	50% {
		background-color: #b69ba7;
		box-shadow: inset 0 0 3px 2px black;
	}
}

.toTop {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	opacity: 0;
	transition: 0.2s opacity;
}

.opaque {
	opacity: 1;
}

.modal ul {
	padding-left: 20px;
	list-style-type: unset;

	> li {
		list-style-type: unset;
	}
}
