*, *::before, *::after {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	outline: none;

	&::-moz-focus-inner {
		border: none;
	}
}

// $body-color: #cedfef;
$thumb-size: 80px;
$item-margin: 20px;
$streams-padding: 20px;

div, p, span, main {
	outline: 1px dotted black;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	// background-color: $body-color;
	display: flex;
	flex-direction: column;
}

main {
	min-height: inherit;
	min-width: 200px;
	width: 90%;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
}

.upper-panel {
	max-width: 600px;
	width: 70%;
}

.input-field .postfix {
	position: absolute;
	width: 3rem;
	left: 100%;
	font-size: 2rem;
	transition: color .2s;
}

.streams {
	width: 100%;
	padding: $streams-padding;
}

.stream-item {
	display: flex !important;
	align-items: center;
	flex-wrap: wrap;
	// padding: 40px 20px;

	> * {
		// margin: $item-margin;
		// padding: 40px 0;

	}

	> :last-child {
		// margin-left: auto;
	}

	.thumbnail {
		// min-width: $thumb-size;

		> img {
			width: $thumb-size;
			max-height: $thumb-size * 1.4;
			border-radius: 50%;
			border: 2px solid white;
		}
	}

	.channel-name {
		// &:first-child {
		// 	margin-left: $thumb-size + $item-margin * 3;
		// }
	}

	.playing {
		font-size: 2em;
	}
}
