*, *::before, *::after {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	outline: none;

	&::-moz-focus-inner {
		border: none;
	}
}

// $body-color: #cedfef;

div, p, span, main {
	outline: 1px dotted black;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	// background-color: $body-color;
	display: flex;
	flex-direction: column;
}

main {
	min-height: inherit;
	min-width: 200px;
	width: 90%;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
}

.upper-panel {
	max-width: 600px;
	width: 70%;
}

.input-field .postfix {
	position: absolute;
	width: 3rem;
	left: 100%;
	font-size: 2rem;
	transition: color .2s;
}

.streams {
	width: 100%;
	padding: 20px;
}

.stream-item {
	display: flex;
	align-items: center;

	> * {
		margin: 20px;
	}

	> :last-child {
		margin-left: auto;
	}

	.playing {
		font-size: 2em;
	}
}
