extend partials/layout

block content				
	main
		.upper-panel
			.input-field.col.s6
				.postfix
					button#search.btn.btn-floating(type="button")
						i.material-icons search
					button#add.btn.btn-floating(type="button")
						i.material-icons add
				input#search-field(type="text", placeholder="Space or comma separated list")
				label.active(for="search-field") Search channels
				
			
		.controls
			each value in ["All", "Online", "Offline", "Available"]
				button.btn(type="button", value=value.toLowerCase(), class=(value === "All" ? "on" : ""))= value
				
		.streams.collection.show-all
			
