extend partials/layout

block content				
	main
		.upper-panel
			.input-field.col.s6
				.postfix
					button#search.btn.btn-floating(type="button")
						i.material-icons search
					button#add.btn.btn-floating(type="button")
						i.material-icons add
				input#search-field(type="text", placeholder="Space or comma separated list")
				label.active(for="search-field") Search channels
				
			
		.controls
			each value in ["All", "Online", "Offline", "Available"]
				button.btn(type="button", value=value.toLowerCase(), class=(value === "All" ? "on" : ""))= value
				
			.fixed-action-btn.click-to-toggle.settings-btn
				a.btn-floating.btn
					i.material-icons menu		
				ul
					li
						a#update.btn-floating.blue(title="update channels")
							i.material-icons sync
					li
						a#save-current.btn-floating.red.darken-1(title="save current channels")
							i.material-icons save
					li
						a#load-current.btn-floating.red.lighten-1(title="load saved channels")
							i.material-icons unarchive
					li
						a#restore-default.btn-floating.red.lighten-2(title="restore default channels")
							i.material-icons restore
					li
						a#about.btn-floating.green.modal-trigger(title="about", href="#modal1")
							i.material-icons help

				
		.streams.collection.show-all
			
		.toTop
			button.btn-floating.blue.lighten-2(type="button")
				i.material-icons vertical_align_top

			
	#modal1.modal
		.modal-content
			h4 TwitchTV
			p Uses #[strong TwitchTV] public APi to search for streams. Search can be performed for one channel or for multiple channels separated with spaces or commas.
			p Search is executed by pressing #[code Enter] when focus is on the input field or by pressing the #[strong search button]. That will clear current channels displayed. To instead add a channel press #[strong add button].
			p Channel pannel includes status of the stream: #[strong Game] being streamed, #[strong Offline] or #[strong Unavailable] for deleted channels.
			p The following functionality is accessible through the #[strong Menu]:
			ul
				li Update status of the currently displayed channels.
				li Save currently displayed channels to localStorage
				li Load saved channels from localStorage
				li Restore default channels
				li Open this modal
			p Source code available on #[a(href="https://github.com/Velenir/twitchTV", target="_blank") GitHub].
		.modal-footer
			a.modal-action.modal-close.btn-flat(href='#!') Close
