extend partials/layout

block content				
	main
		.upper-panel
			.input-field.col.s6
				i.material-icons.postfix search
				input#search-field(type="text")
				label(for="search-field") Search channels
			
			
		.streams.collection
			
