extend partials/layout

block content				
	main
		.upper-panel
			.input-field.col.s6
				.postfix
					button#search.btn.btn-floating(type="button")
						i.material-icons search
					button#add.btn.btn-floating(type="button")
						i.material-icons add
				input#search-field(type="text", placeholder="Space or comma separated list")
				label.active(for="search-field") Search channels
				
			
		.controls
			each value in ["All", "Online", "Offline", "Available"]
				button.btn(type="button", value=value.toLowerCase(), class=(value === "All" ? "on" : ""))= value
				
			.fixed-action-btn.click-to-toggle.settings-btn
				a.btn-floating.btn
					i.material-icons menu		
				ul
					li
						a#update.btn-floating.blue(title="update channels")
							i.material-icons sync
					li
						a#save-current.btn-floating.red.darken-1(title="save current channels")
							i.material-icons save
					li
						a#restore-current.btn-floating.red.lighten-1(title="restore saved channels")
							i.material-icons unarchive
					li
						a#restore-default.btn-floating.red.lighten-2(title="restore default channels")
							i.material-icons restore
					li
						a#about.btn-floating.green.modal-trigger(title="about", href="#modal1")
							i.material-icons help

				
		.streams.collection.show-all
			
		.toTop
			button.btn-floating.blue.lighten-2(type="button")
				i.material-icons vertical_align_top

			
	#modal1.modal
		.modal-content
			h4 Modal Header
			p A bunch of text
		.modal-footer
			a.modal-action.modal-close.btn-flat(href='#!') Close
