extend partials/layout

block content				
	main
		.upper-panel
			.input-field.col.s6
				i.material-icons.postfix search
				input#search-field(type="text")
				label(for="search-field") Search channels
			
		.controls
			each value in ["All", "Online", "Offline", "Available"]
				button.btn(type="button", value=value.toLowerCase(), class=(value === "All" ? "on" : ""))= value
				
		.streams.collection.show-all
			
